@font-face {
    font-family: "calvin-and-hobbes";
    src: url("../fonts/calvin_and_hobbes.TTF");
}
@font-face {
    font-family: "comic-font";
    src: url("../fonts/Patrick_Hand/PatrickHand-Regular.ttf");
}

.bg-image{
    position: fixed;
    z-index: -1;
    top:-45px;
    left:0;
    width: 100%;
}

.calvin-and-hobbes {
    font-family: "calvin-and-hobbes";
    font-size: 5em;
    margin: .25em;
    margin-left: 0.5em;
}

.hangman {
    font-family: "calvin-and-hobbes";
    font-size: 4em;
    margin: .25em .25em .6em 3em;
 
}
.game-wrapper{
    max-width: 800px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fcdfc3dc;
}

#message-board {
    background-color: #3dbaec;
    opacity: 0.9;
    height: 150px;
    width: 100%;
    border: 2px solid black;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#message-text{
    font-family: "comic-font", cursive;
    font-size: 2.75em;
    line-height: 1.5em;
    padding: 20px;
}

.current-word{
    font-family: "comic-font", cursive;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}


#word-display {
    width: 100%;
    padding: 1em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.letter-holder{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 2.25em;
    padding: 0 .25em;
    text-align: center;

    box-sizing: border-box;
    width: 1.5em;

    border: 1px solid black;
}

.score-drawing-wrapper{
    display: flex;
}

.scoreboard{
    -background-color: lightblue;
    font-family: "comic-font", cursive;
    font-size: 1.5em;

    padding-top: 2em;
    flex-grow: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreboard-section {
    flex:1 0 0;
    height: 3em;
    text-align: center;
    max-width: 33.33%;
    word-wrap: break-word;
}
.scoreboard-text{
    height: 2em;
}

/* ========================================================= */
/* ======================hangman image====================== */
/* ========================================================= */

#drawing{
    -background-color: violet;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 25px 0;
}

.gallows-main{
    height: 130%;
    width: 40%;
    border: 3px solid black;
    border-color: black transparent transparent black;

    position: absolute;
    top: -15%;
    left: 8%;
}

.gallows-base{
    height: 0;
    width: 80%;
    border: 3px solid black;

    position: absolute;
    bottom: -22%;
    left: 0;   
}

.gallows-rope{
    height: 19%;
    width: 0;
    border: 1.5px solid black;

    position: absolute;
    top: -15%;
    left: 51%;   
}

.body-part{
    display: none;
}

.head{
    height: 25%;
    width: 25%;
    border: 2px solid black;
    border-radius: 50%;

    position: absolute;
    top: 5%;
    left: 37.5%;
}

.torso{
    height:37.5%;
    width: 0;
    border: 1.5px solid black;

    position: absolute;
    top: 32.5%;
    left: 50%;
}

.arm-1{
    width: 25%;
    height: 0;
    border: 1.5px solid black;
    -margin: 0 10px;
    transform: rotate(30deg);

    position: absolute;
    top: 42.5%;
    left: 25%;
}

.arm-2{
    width: 25%;
    height: 0;
    border: 1.5px solid black;
    -margin: 0 10px;
    transform: rotate(-30deg);

    position: absolute;
    top: 42.5%;
    left: 50%;
}

.leg-1{
    width: 30%;
    height: 0;
    border: 1.5px solid black;
    transform: rotate(-60deg);

    position: absolute;
    top: 83%;
    left: 26%;
}

.leg-2{
    width: 30%;
    height: 0;
    border: 1.5px solid black;
    transform: rotate(60deg);

    position: absolute;
    top: 83%;
    left: 44%;
}
/* ========================================================= */
/* =====adding smoe media queries to make it responsive===== */
/* ========================================================= */
@media screen and (max-width: 1200px){
    .bg-image{
        width: 1200px;
    }
}

@media screen and (max-width: 890px){
    .calvin-and-hobbes{
        text-align: center;
    }
    .hangman {
        margin: 0.5em;
        text-align: center;
    }
    .game-wrapper{
        width:700px;
    }
}

@media screen and (max-width: 768px){ 
    .game-wrapper{
        width:600px;
    }
    #message-board{
        height: 200px;
    }            
    .score-drawing-wrapper{
        flex-flow: column nowrap;
    } 
    .scoreboard {
        flex-flow: column nowrap;
        font-size: 2em;
        padding-top: 0;
    }
    .scoreboard-section{
        margin: 0.75em auto;
        max-width: none;
    }
    #drawing{
        margin: 25px auto;
    }   
}

@media screen and (max-width: 640px){
    .calvin-and-hobbes {
        font-size: 12vw;
    }
    .hangman {
        font-size: 10vw;
    }
    .game-wrapper{
        width:85%;
    }
    #message-board{
        height:30vw;
    }
    #message-text{
        font-family: 'Arvo', serif;
        font-size: 5vw;
        line-height: 1.5em;
    }
    .current-word{
        font-size: 6vw;
    }
    .letter-holder{
        font-size: 5vw;
    }
    .scoreboard {
        font-size: 4vw;
    }
    #drawing{
        width: 15.625vw;
        height: 15.625vw;
    }
}